.photo {
    width: 100%;
    height: auto;
    /* height: 75%; */
    margin-top: 15%;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.jack {
    width: 15%;
    height: 15%;
}

.text {
    font-size: 20px;
}

@media (max-width: 1150px) {
    .newContainer {
        flex-direction: column;
    }
    .photo {
        margin-top: 1%;
    }
    .jack {
        width: 100%;
    }
}
