.photo {
  width: 100%;
  height: auto;
  /* height: 75%; */
  border-radius: 50%;
  box-shadow: 10px 10px;
}

.hobbyItem {
  margin: 0.25rem 0rem;
}

.questions {
  font-style: italic;
}

.text {
  font-size: 20px;
}

@media (max-width: 1150px) {
  .newContainer {
    flex-direction: column;
  }
  .photo {
    margin-top: 1%;
  }
  .jack {
    width: 100%;
  }
}
