.photo {
    width: 100%;
    height: auto;
    /* height: 75%; */
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.jack {
    width: 15%;
    height: 15%;
}

@media (max-width: 600px) {
    .newContainer {
        flex-direction: column;
    }
    .jack {
        width: 100%;
    }
}
