.photo {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 0.5rem 1rem 10px;
}

.photoWrapper {
  position: relative;
}

/* .circle {
  height: 100px;
  width: 100px;
  background-color: gold;

  left: -0.5rem;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
} */

.info {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.date {
  width: 154px;
}

.text {
  font-size: 18px;
}

@media (max-width: 1150px) {
  .newContainer {
    flex-direction: column;
  }
  .photo {
    margin-top: 1%;
    width: 50%;
    margin-bottom: 1rem;
  }
  .photoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .jack {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .photo {
    width: 75% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .circle {
    left: 125px;
  }

  .date {
    width: 90px;
  }
}

@media (max-width: 765px) {
  .info {
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }
}
