.photo {
  width: 100%;
  height: auto;
  /* height: 75%; */
  border-radius: 50%;
  border: 5px black solid;
  box-shadow: 10px 10px;
}

.photoWrapper {
  width: 110%;
}

.linkItem {
  margin: 0.25rem 0rem;
}

.questions {
  font-style: italic;
}

.text {
  font-size: 18px;
}

@media (max-width: 1150px) {
  .newContainer {
    flex-direction: column;
  }
  .photo {
    margin-top: 1%;
    width: 50%;
    margin-bottom: 1rem;
  }
  .photoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .jack {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .photo {
    width: 75% !important;
  }
}
