.container {
  width: 35vw;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  font-size: 18px;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
}

.prevLink {
  cursor: pointer;
  width: 70%;
  font-style: italic;
}

.nextLink {
  cursor: pointer;
  margin-left: auto;
  text-align: right;
  font-style: italic;
  /* width: 70%; */
}

@media (max-width: 768px) {
  .container {
    width: 75%;
  }
}
