.horizontal:first-child {
  display: inline;
  margin-right: 8px;
  font-size: 18px;
}

.horizontal:not(:first-child) {
  display: inline;
  margin: 8px;
  font-size: 18px;
  /* margin-top: 0px; */
}

.noHighlight {
  background-color: white;
  transition: opacity 0.3s;
}

.noHighlight:hover {
  background-color: white;
  opacity: 0.5;
}

.horizontal:hover {
  cursor: pointer;
}

.list {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  padding-left: 0px;
}

.footer {
  position: absolute;
  bottom: 0;

  /* width: 100%; */
  height: 2.5rem;
  margin-bottom: 4%;
  margin-left: 4%;
}
.jack {
  width: 15%;
  height: 15%;
  text-align: right;
}

@media (max-width: 480px) {
  .footer {
    margin-bottom: 3rem;
  }
  .footerText {
    font-size: 14px;
  }
}

.footerText {
  margin-left: 0.5%;
  font-style: italic;
  width: 100%;
}
