.horizontal {
    display: inline;
    margin: 8px;
    font-size: 18px;
}

.horizontal:hover {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2%;
    margin-left: 4%;
}
