@font-face {
  font-family: "Ubuntu Mono";
  src: url("/fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf");
}

@font-face {
  font-family: "iA Quattro";
  src: url("/fonts/iAWriterQuattroS-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 600;
}

/* In your css file where you want to use the font */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: #dae5ff;
  transition: background-color 0.45s;
  border-radius: 5px;
  padding: 0.05rem 0.1rem;
}

a:hover {
  background-color: #94d8ef;
}
p {
  line-height: 1.5rem;
}
* {
  box-sizing: border-box;
}
