@font-face {
  font-family: Sono;
  src: url("/fonts/Sono.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Mod";
  src: url("/fonts/Mod-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Brittany;
  src: url("/fonts/Brittany.ttf");
}

/* In your css file where you want to use the font */

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5dd;
  color: #191919;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p > a {
  background-color: #dae5ff;
  transition: background-color 0.15s;
  border-radius: 5px;
  padding: 0.05rem 0.1rem;
}

p > a:hover {
  background-color: #94d8ef;
}
p {
  line-height: 1.5rem;
}
* {
  box-sizing: border-box;
}

.header-image > img {
  width: 100%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.image-gallery > img {
  width: 45%;
}

.image-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.image-column > img {
  width: 40%;
}

.mod {
  font-family: Mod;
  font-size: 64px;
  text-align: center;
}

.links {
  display: flex;
  gap: 1rem;
}
