.horizontal {
    display: inline;
    margin: 24px;
    font-size: 18px;
    position: relative;
}

.horizontal:hover {
    cursor: pointer;
}

.horizontal:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.horizontal:hover:before {
    visibility: visible;
    width: 100%;
}

.logo {
    width: 4%;
    height: 4%;
    cursor: pointer;
}

@media (max-width: 480px) {
    .logo {
        width: 25%;
        margin-left: 37.5%;
    }
    .horizontal {
        margin: 0px 2%;
    }
    .outerBar {
        display: contents !important;
    }

    .listStyle {
        padding-inline-start: 4%;
        display: flex;
        justify-content: center;
    }
    .line {
        width: 75%;
        display: block !important;
    }
}

.line {
    display: none;
}

.listStyle {
    list-style: none;
    /* align-self: flex-end" */
}

.outerBar {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
}
