.container {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
}

.page {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 3.5rem;
    /* margin-bottom: 1rem; */
}

.titleText {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
