.container {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  /* color: lightgrey; */
}

.page {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 3.5rem;
  /* margin-bottom: 1rem; */
}

.titleText {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 0 35% 2rem 35%;
  margin-block-start: 0;
  /* color: lightgrey; */
}

.titleText {
  position: relative;
}
.titleText:before {
  content: "";
  z-index: 1;
  left: -0.5rem;
  top: -0.2rem;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.titleText:after {
  content: "";
  z-index: 1;
  left: -0.5rem;
  top: 0.65rem;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.firstText {
  text-align: center;
  font-size: 20px;
}

@media (min-width: 1150px) and (max-width: 1440px) {
  .titleText:after {
    top: 0.45rem;
  }
}

@media (min-width: 480px) and (max-width: 1150px) {
  .titleText:after {
    top: 0.225rem;
  }
}

@media (max-width: 480px) {
  .titleText {
    margin: 8% 25%;
    /* margin; */
  }
  .firstText {
    margin-bottom: 4%;
  }
  .page {
    padding-bottom: 7.5rem;
  }
  .titleText:before {
    top: -0.1rem;
  }
  .titleText:after {
    top: 0.2rem;
  }
}
