.container {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  /* color: lightgrey; */
}

.page {
  min-height: 75vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 3.5rem;
  /* margin-bottom: 1rem; */
}

.firstText {
  text-align: center;
  font-size: 18px;
}

@media (min-width: 1150px) and (max-width: 1440px) {
  .titleText:after {
    top: 0.45rem;
  }
}

@media (min-width: 480px) and (max-width: 1150px) {
  .titleText:after {
    top: 0.225rem;
  }
}

@media (max-width: 480px) {
  .titleText {
    margin: 8% 25%;
    /* margin; */
  }
  .firstText {
    margin-bottom: 4%;
  }
  .page {
    padding-bottom: 7.5rem;
  }
  .titleText:before {
    top: -0.1rem;
  }
  .titleText:after {
    top: 0.2rem;
  }
}
